.marginrow{
  margin-left: 50px;
  margin-right: 50px;
}

.graphics{
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  display: inline-block;
}

.titles{
  color: #0098a5;
  font-family: Poppins,sans-serif;
  font-weight: 600;
  text-align: center;
}

.graphictabs{
  color: #ffffff;
  background-color: rgb(63, 84, 121);
}

.graphictabs:active{
  color: #ffffff;
  background-color: #0098a5;
}

#navbar-toggler{
  display: none;
}

.headerText {
  margin-top: -18%;
  margin-left: 7%;
  font-size: xxx-large;
  font-family: Poppins,sans-serif;
  font-weight: 600;
}

.headerText2{
  margin-left: 10%;
  font-size: 150%;
  font-family: Poppins,sans-serif;
  font-weight: 600;
}

.spaceGrafi{
  margin-top:1%;
}

.selection{
  color: #0098a5;
  font-family: Poppins,sans-serif;
  font-weight: 600;
  text-align: left;
  margin-left: 50px;
}

.selection2{
  color: rgb(63, 84, 121);
  font-family: Poppins,sans-serif;
  font-weight: 600;
  text-align: left;
  margin-left: 50px;
}

.fix_label{
  color: rgb(63, 84, 121);
  font-family: Poppins,sans-serif;
  font-weight: 600;
  text-align: left;
  margin-left: 50px;
}

.dcc_compon{
  color: #0098a5;
  margin-left: 50px;
  margin-right: 50px;
  background-color: #0098a5 !important;
}

.logo{
  margin-top: 27%;
  margin-left: 15%;
  width: 60%;
  border-radius: 10%;
}

@media screen and (max-width: 1230px) {
  .headerText{
    font-size: 207%
  }
  .headerText2{
    margin-left: 7%;
    font-size: 140%;
  }
}
@media screen and (max-width: 861px) {
  .headerText{
    font-size: 155%
  }
  .headerText2{
    margin-left: 7%;
    font-size: 104%;
  }
}
@media screen and (max-width: 662px) {
  .headerText{
    font-size: 155%;
    margin-top: -2%;
  }
  .headerText2{
    margin-left: 7%;
    font-size: 104%;
  }
}